@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Imagen inicio de sesion */
.imagenInicio {
  min-width: 45%;
  background-image: url(./assets/images/mejor_registro.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #427cae;
}